<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Deven\SignUpApi\Api\SignUpInterface"
                type="Deven\SignUpApi\Model\SignUpManagement"/>
                <preference for="Deven\SignUpApi\Api\LoginInterface" type="Deven\SignUpApi\Model\LoginManagement"/>

</config>
